:root {

    --backgroundColor: #282828;
    --fontColor: #F1E3D2;
    --hoverColor: #E98868;
    --detaljeColor: #3E7494;



    --fontMenu: "Fredericka the Great", serif;
    --fontUnderMenu: "Finger Paint", sans-serif;


    --fontSizeTitelMenu: 48px;
    --fontSizeUnderMenu: 64px;
    --h1: 48px;
    --h2: 32px;
    --p: 20px;

    /* gaps */

    --gap2: 2rem;


    /* Mobile */
    --MfontSizeTitelMenu: 24px;
    --MfontSizeUnderMenu: 24px;
    --Mh1: 24px;
    --Mh2: 10px;
    --Mp: 8px;
}