@import url(css/root.css);

* {
  padding: 0;
  margin: 0;
  line-height: var(--lineheight);
}

body {
  background-color: var(--backgroundColor);
}
ul a {
  font-size: var(--MfontSizeMenu);

  color: var(--fontColor);
  list-style: none;
  text-decoration: none;
}

.indexmenu {
  font-family: var(--fontMenu);
}

.headmenu a {
  font-family: var(--fontMenu);
}

.temaul a {
  font-family: var(--fontUnderMenu);
}

.valgt {
  color: var(--hoverColor);
}
a:hover {
  color: var(--hoverColor);
}

h1,
h2,
h3 {
  font-family: var(--fontUnderMenu);
  color: var(--hoverColor);
}

h1 {
  font-size: var(--Mh1);
}
h2 {
  font-size: var(--Mh2);
}
h3 {
  font-size: var(--Mh3);
}
p,
main li {
  font-family: var(--text);
  font-size: var(--Mp);
  color: var(--fontColor);

  max-width: 60ch;
}

img {
  max-width: 50%;
}

#indexbg {
  width: 100vw;
  height: 90vh;

  background-image: url(../assets/Group_39.svg);
  background-repeat: no-repeat;
}
